.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(20, 16, 244);
    overflow: hidden;
}

.navbar a {
    color: rgb(252, 250, 250);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: left;

}

.navbar a:hover {
    background-color: rgb(2, 100, 30);
}

.navbar li {
    float: left;

}

ul li ul.droplist li {

    display: block;
    background: #b2b2b2;
    margin: 2px 0px;


}

ul li ul.droplist {
    width: auto;
    position: absolute;
    display: none;
    z-index: 999;

}

ul li:hover ul.droplist {
    display: block;



}

ul li ul.droplists li {
    display: block;
    background: #b2b2b2;
    margin: 2px 0;
}

ul li ul.droplists {
    width: auto;
    position: absolute;
    display: none;
    z-index: 999;
}

ul li:hover ul.droplists {
    display: block;

}

ul li ul.droplist li a {
    color: black;
}

ul li:hover ul.droplists a {
    color: black;

}

/*  Table */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

footer {
    background-color: rgb(20, 16, 244);
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: rgb(36, 54, 250);
    opacity: 0, 9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
    background-color: #087ff5;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: rgb(239, 193, 13);
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    text-align: center;

}

.footerNav ul li a:hover {
    opacity: 2;

}

.footerBottom {
    background-color: rgb(70, 143, 239);
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: rgb(251, 251, 253);
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    text-align: center;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 8px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 2px;
        text-align: center;
    }

    .footerNav ul li a {

        text-align: center;

    }
}